USE [master]
GO
/****** Object:  Database [KTXLDL_AQI]    Script Date: 11/27/2021 12:25:40 PM ******/
CREATE DATABASE [KTXLDL_AQI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KTXLDL_AQI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\KTXLDL_AQI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KTXLDL_AQI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\KTXLDL_AQI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KTXLDL_AQI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KTXLDL_AQI]
GO
/****** Object:  Table [dbo].[AQI_FORCAST]    Script Date: 11/27/2021 12:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AQI_FORCAST](
	[Idx] [nchar](100) NULL,
	[NameCity] [nvarchar](150) NULL,
	[Lat] [real] NULL,
	[Long] [real] NULL,
	[O3_AVG1] [real] NULL,
	[O3_DAY1] [nchar](20) NULL,
	[O3_MAX1] [real] NULL,
	[O3_MIN1] [real] NULL,
	[O3_AVG2] [real] NULL,
	[O3_DAY2] [nchar](20) NULL,
	[O3_MAX2] [real] NULL,
	[O3_MIN2] [real] NULL,
	[O3_AVG3] [real] NULL,
	[O3_DAY3] [nchar](20) NULL,
	[O3_MAX3] [real] NULL,
	[O3_MIN3] [real] NULL,
	[O3_AVG4] [real] NULL,
	[O3_DAY4] [nchar](20) NULL,
	[O3_MAX4] [real] NULL,
	[O3_MIN4] [real] NULL,
	[O3_AVG5] [real] NULL,
	[O3_DAY5] [nchar](20) NULL,
	[O3_MAX5] [real] NULL,
	[O3_MIN5] [real] NULL,
	[O3_AVG6] [real] NULL,
	[O3_DAY6] [nchar](20) NULL,
	[O3_MAX6] [real] NULL,
	[O3_MIN6] [real] NULL,
	[O3_AVG7] [real] NULL,
	[O3_DAY7] [nchar](20) NULL,
	[O3_MAX7] [real] NULL,
	[O3_MIN7] [real] NULL,
	[O3_AVG17] [real] NULL,
	[O3_DAY17] [nchar](20) NULL,
	[O3_MAX17] [real] NULL,
	[O3_MIN17] [real] NULL,
	[Pm25_AVG1] [real] NULL,
	[Pm25_DAY1] [nchar](20) NULL,
	[Pm25_MAX1] [real] NULL,
	[Pm25_MIN1] [real] NULL,
	[Pm25_AVG2] [real] NULL,
	[Pm25_DAY2] [nchar](20) NULL,
	[Pm25_MAX2] [real] NULL,
	[Pm25_MIN2] [real] NULL,
	[Pm25_AVG3] [real] NULL,
	[Pm25_DAY3] [nchar](20) NULL,
	[Pm25_MAX3] [real] NULL,
	[Pm25_MIN3] [real] NULL,
	[Pm25_AVG4] [real] NULL,
	[Pm25_DAY4] [nchar](20) NULL,
	[Pm25_MAX4] [real] NULL,
	[Pm25_MIN4] [real] NULL,
	[Pm25_AVG5] [real] NULL,
	[Pm25_DAY5] [nchar](20) NULL,
	[Pm25_MAX5] [real] NULL,
	[Pm25_MIN5] [real] NULL,
	[Pm25_AVG6] [real] NULL,
	[Pm25_DAY6] [nchar](20) NULL,
	[Pm25_MAX6] [real] NULL,
	[Pm25_MIN6] [real] NULL,
	[Pm25_AVG7] [real] NULL,
	[Pm25_DAY7] [nchar](20) NULL,
	[Pm25_MAX7] [real] NULL,
	[Pm25_MIN7] [real] NULL,
	[CreateDate] [nchar](20) NULL,
	[CreateAt] [nchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AQI_INFOR_DETAIL]    Script Date: 11/27/2021 12:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AQI_INFOR_DETAIL](
	[Idx] [nchar](100) NULL,
	[NameCity] [nvarchar](150) NULL,
	[Lat] [real] NULL,
	[Long] [real] NULL,
	[H] [real] NULL,
	[No2] [real] NULL,
	[O3] [real] NULL,
	[Pm25] [real] NULL,
	[So2] [real] NULL,
	[T] [real] NULL,
	[W] [real] NULL,
	[Wg] [real] NULL,
	[Time] [nchar](30) NULL,
	[CreateDate] [nchar](20) NULL,
	[CreateAt] [nchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AQI_INFORMATION]    Script Date: 11/27/2021 12:25:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AQI_INFORMATION](
	[Idx] [nchar](100) NOT NULL,
	[NameCity] [nvarchar](150) NULL,
	[AQIIndex] [int] NULL,
	[Rate] [nchar](100) NULL,
	[Lat] [real] NULL,
	[Long] [real] NULL,
	[CreateDate] [nchar](20) NULL,
	[CreateAt] [nchar](30) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[AQI_INFOR_DETAIL] ([Idx], [NameCity], [Lat], [Long], [H], [No2], [O3], [Pm25], [So2], [T], [W], [Wg], [Time], [CreateDate], [CreateAt]) VALUES (N'7142                                                                                                ', N'Monitoring station, Wuwei (武威监测站)', 37.9311, 102.6219, 70.9, 3.7, 30.1, 124, 2.6, NULL, NULL, NULL, N'2021-11-19 17:00:00           ', N'2021-11-19          ', N'2021-11-19 16:53:02.0767050   ')
INSERT [dbo].[AQI_INFOR_DETAIL] ([Idx], [NameCity], [Lat], [Long], [H], [No2], [O3], [Pm25], [So2], [T], [W], [Wg], [Time], [CreateDate], [CreateAt]) VALUES (N'12492                                                                                               ', N'Civic, Canberra', -35.28531, 149.131577, 67, 0, 9.8, 31, 0, NULL, NULL, NULL, N'2021-11-19 19:00:00           ', N'2021-11-19          ', N'2021-11-19 16:53:09.1785280   ')
INSERT [dbo].[AQI_INFOR_DETAIL] ([Idx], [NameCity], [Lat], [Long], [H], [No2], [O3], [Pm25], [So2], [T], [W], [Wg], [Time], [CreateDate], [CreateAt]) VALUES (N'5733                                                                                                ', N'Burin, NewFoundland, Canada', 47.0989876, -55.19852, 93, 0.1, 23.4, 18, 0, NULL, NULL, NULL, N'2021-11-19 04:00:00           ', N'2021-11-19          ', N'2021-11-19 16:53:16.1579320   ')
GO
INSERT [dbo].[AQI_INFORMATION] ([Idx], [NameCity], [AQIIndex], [Rate], [Lat], [Long], [CreateDate], [CreateAt]) VALUES (N'13205                                                                                               ', N'David Agmashenebeli Avenue 73a, Tbilisi, Georgia', 151, N'Unhealthy                                                                                           ', 41.708828, 44.79966, N'2021-11-19          ', N'2021-11-19 16:53:07.2907780   ')
INSERT [dbo].[AQI_INFORMATION] ([Idx], [NameCity], [AQIIndex], [Rate], [Lat], [Long], [CreateDate], [CreateAt]) VALUES (N'9613                                                                                                ', N'Kahului, Hawaii, USA', 30, N'Good                                                                                                ', 20.8694439, -156.492416, N'2021-11-19          ', N'2021-11-19 16:53:13.1702880   ')
INSERT [dbo].[AQI_INFORMATION] ([Idx], [NameCity], [AQIIndex], [Rate], [Lat], [Long], [CreateDate], [CreateAt]) VALUES (N'7349                                                                                                ', N'BROADWAY (South), Missouri, USA', 38, N'Good                                                                                                ', 38.5425, -90.26361, N'2021-11-19          ', N'2021-11-19 16:53:18.7339860   ')
GO
USE [master]
GO
